<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org // DTD mapper 3.0 // en" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.board-mapper">


     <select id="BoardAllData" resultType="board">
		SELECT b_seq, b_title,b_date,b_cnt, u_id
		FROM board
		ORDER BY b_seq DESC
	</select>
	
	<insert id="BoardInsertData"> <!-- resultType="user" user객체로 쿼리 실행 결과값을 받고자 할 때 -->
		insert into board
		values(board_sequence1.NEXTVAL, #{u_id},#{c_seq},#{b_title},#{b_content},1,sysdate,0,null,#{b_left, jdbcType=NULL},#{b_right, jdbcType=NULL})
	</insert>
	
	<select id="BoardOneView" resultType="board">
		SELECT *
		FROM board
		WHERE b_seq = #{b_seq}
	</select>
	
	<select id="BoardAllDataPage" resultType="board">
		<!-- SELECT b_seq, b_title,b_date,b_cnt
		FROM board -->
   select X.b_seq, X.b_title, X.b_date, X.b_cnt , X.u_id
   from 
   (select rownum as rum, A.b_seq, A.b_title, A.b_date, A.b_cnt, A.u_id
   from 
   (select b_seq, b_title,b_date,b_cnt,u_id
   from board
   order by b_seq DESC) 
   A  where rownum <![CDATA[ < ]]> = #{page}*5)
   X  where x.rum <![CDATA[ > ]]> = ((#{page}-1)*5)+1
	</select>
	
	<select id="BoardListCount" resultType="int">
	
   select count (*)
   from board
	</select> 
	
</mapper>
