<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org // DTD mapper 3.0 // en" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

 <mapper namespace="mapper.reply-mapper">
  <select id="ReplyAllData" resultType="Reply">
		SELECT re_content,re_seq
		FROM reply where b_seq = #{b_seq}
	</select> 
	
	
	<insert id="ReplyInsertData" parameterType="Reply">

    
		insert into reply(re_seq, b_seq, u_id, re_content, re_date, re_parent, re_boolean)
		values(Reply_sequence1.NEXTVAL, #{b_seq}, #{u_id}, #{re_content}, sysdate, 1, null)	
		
			<selectKey resultType="Integer" keyProperty="re_seq" order="AFTER">
            	select MAX(re_seq) from Reply
            </selectKey> 
    
	</insert>
	
	
	
	
	<select id="ReplyOneData" resultType="Reply">
		SELECT *
		FROM Reply
		WHERE re_seq = #{re_seq}
	</select>
	

	
	</mapper>