<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org // DTD mapper 3.0 // en" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.Tag-mapper">


	<insert id="makeTag">
		<selectKey resultType="Integer" keyProperty="b_seq"  order="BEFORE">
			SELECT MAX(b_seq)
			FROM board
		</selectKey>
		INSERT INTO Tag
		VALUES(#{b_seq},#{vss_seq})
	</insert>
	
	<select id="getVSSBoard" resultType="Tag">
		SELECT X.b_seq, X.vss_seq
   		FROM 
		(SELECT rownum as rum, A.b_seq, A.vss_seq
		FROM 
   			(SELECT b_seq, vss_seq
			FROM Tag
			WHERE vss_seq = #{vss_seq}
			ORDER BY b_seq DESC) 
		A  where rownum <![CDATA[ < ]]> = #{page}*5)
   		X  where x.rum <![CDATA[ > ]]> = ((#{page}-1)*5)+1
	</select>
	
	
	
	
</mapper>
