<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org // DTD mapper 3.0 // en" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.vote-mapper">


     <select id="AllVote" resultType="vote">
		SELECT *
		FROM VOTE
		WHERE b_seq = #{b_seq}
	</select>
	
	
	
</mapper>
