@charset "UTF-8";
* {box-sizing: border-box;}
body{font-family: sans-serif;
color:#fff;
}
input[type=text], input[type=password] ,input[type=email]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border:none;
	background-color:#c0c0c0;
	box-shadow: 1px 1px 0 #ff4d00, 1px 1px 0 #fff;
}

input[type=text]:focus, input[type=password]:focus{
	background-color:grey;
	color:black;
	outline:none;
}
input[type=submit]{
	background-color:#f44336;
	color:white;
	padding:14px 20px;
	margin:8px 0;
	border:none;
	cursor:pointer;
	width:50%;
	opacity:0.9;
}
button{
	background-color:#c0c0c0;
	color:white;
	padding:14px 20px;
	margin:8px 0;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
}
button:hover{
	opacity:1;
}
.cancelbtn{
	padding:14px 20px;
	background-color: #c0c0c0;
}
.cancelbtn, .submitbtn{
	float:left;
	width:50%;
}
.signup-content{
	background-color:#000084;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width:50%;
}
.clearfix::after{
	content:"";
	clear:both;
	display:table;
}


.password-container .progress-bar_item {
  display: inline-block;
  height: 100%;
  width: 32.5%;
  margin-right: .8%;
  border-radius: 5px;
  float: left; 
  transition: background-color .2s, visisility .1s;
}

.password-container .progress-bar_item-1.active {
  background-color: #ff0000;
}

.password-container .progress-bar_item-2.active {
  background-color: #ffff00;
}

.password-container .progress-bar_item-3.active {
  background-color: #80ffff;
} 

.progress-bar_wrap {
  width: 300px;
  height: 5px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}

.password-rep-container .progress-bar_item {
  display: inline-block;
  height: 100%;
  width: 100%;
  float: left;
  transition: background-color .2s, visisility .1s;
} 
.password-rep-container .active{
	visibility: visible;
}
 .progress-bar_item-1{

}
.progress-bar_item-2{
	
} 
.progress-bar_text{
	display:inline-block;
	color:#aaa;
	margin-left:5px;
	transition:.2s;
}