
h1,
h2,
h3,
.contents,
section.post > article .date { 
	font-size: 24px;
}

.icon h1, .icon h2,
.icon h3, .icon.text span,
.icon.contents, .icon .contents {
	font-size: 24px;
}

h4,
section.feed > article,
section.post > article,
section.post.protect > section.grid.info {
	font-size: 1em;
}

section.post a {
	color: #FFFF44;
}

section.post > section.comments {
	background-color: #BBBBBB;
	color: black;
	box-shadow: 2px 2px 0 black, -2px -2px 0 white;
}

section.post > article section.grid.info {
	display: none;
}

section.post > section.comments,
#tt-body-page section.paging, #tt-body-guestbook section.paging,
footer > div > section#footer-menu > .info {
	border-top: 0;
}
	
section.post > section.comments div.comments .textfield > .input > .buttons > #button-comment-send {
	margin: -10px;
}

section.post > section.comments div.comments > ul.comments > li.comment div.comment .info .name > a {
	color: #00AAAA;
}

header > div > section#nav-menu-category > .background {
	background-color: #000084;
	-webkit-backdrop-filter: unset;
}

header > div > section#nav-menu-search > .bar-search {
	margin-top: 40px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #BBBBBB;
	border: none;
	box-shadow: 2px 2px 0 black, -2px -2px 0 white;
}

header > div > section#nav-menu-search > .bar-search > .input > input {
	margin-top: 2px;
	color: black;
}

nav a.selected {
	color: #FFFF44;
}

.buttons.dropdown > .dropdown {
	background-color: white;
	fill: black;
}

.buttons.dropdown.small > .dropdown {
	border-radius: 0;
	background-color: #BBBBBB;
	box-shadow: 2px 2px 0 black, -2px -2px 0 white;
	
}

#button-comment,
#button-comment-send {
	background-color: #BBBBBB;
	box-shadow: 2px 2px 0 #000000, -2px -2px 0 #FFFFFF;
}

#button-comment {
	color: black;
}

#button-comment-send {
	border-radius: 0;
	transition: all 0;
}

header h1 svg {
	fill: transparent;
	background-image: url('https://tistory4.daumcdn.net/tistory/814207/skin/images/icon-386-logo-cactus-white.svg');
}

header #button-menu svg {
	fill: transparent;
	background-image: url('https://tistory4.daumcdn.net/tistory/814207/skin/images/icon-386-menu-white.svg');
}

header #button-search svg {
	fill: transparent;
	background-image: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/icon-386-search-white.svg');
}

header > div > section#nav-menu-search > .bar-search > .input svg {
	fill: transparent;
	background-image: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/icon-386-search.svg');
}

header > div > input#input-menu:checked ~ #button-menu svg,
header #button-search.active svg {
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-close-white.svg');
}

#button-comment svg:nth-child(1),
.nav-dropdown-comment > .button-comment-reply > svg {
	fill: transparent;
	background-image: url('https://tistory4.daumcdn.net/tistory/814207/skin/images/icon-386-comment.svg');
}

#button-comment svg:nth-child(3),
#button-comment svg:nth-child(4) {
	fill: transparent;
	background-image: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/icon-386-expand.svg');
}

footer #button-expand svg {
	fill: transparent;
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-expand-white.svg');
}

#button-comment.active svg:nth-child(3),
#button-comment.active svg:nth-child(5) {
	fill: transparent;
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-collapse.svg');
}

footer #button-expand.active svg {
	background-image: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/icon-386-collapse-white.svg');
}

#button-comment-lock > svg:nth-child(1),
#button-comment-lock > svg:nth-child(2) {
	fill: transparent;
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-lock.svg');
}

#button-comment-send svg {
	fill: transparent;
	background-image: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/icon-386-send.svg');
}

#button-prev svg {
	fill: transparent;
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-back-white.svg');
}

#button-next svg {
	fill: transparent;
	background-image: url('https://tistory4.daumcdn.net/tistory/814207/skin/images/icon-386-next-white.svg');
}

.button-comment-more > svg:nth-child(1) {
	fill: transparent;
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-more-left.svg');
}

.button-comment-more > svg:nth-child(2) {
	fill: transparent;
	background-image: url('https://tistory3.daumcdn.net/tistory/814207/skin/images/icon-386-close.svg');
}

.nav-dropdown-comment > .button-comment-edit > svg {
	fill: transparent;
	background-image: url('https://tistory2.daumcdn.net/tistory/814207/skin/images/icon-386-edit.svg');
}

footer section.icon svg {
	fill: transparent;
	background-image: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/icon-386-logo-tistory-white.svg');
}

header > div > #button-menu,
header > div > section#nav-menu-category,
header > div > section#nav-menu-category > nav,
header > div > input#input-menu:checked ~ section#nav-menu-category > nav,
header > div > section#nav-menu-search,
header > div > section#nav-menu-search > .bar-search > .input,
header > div > section#nav-menu-search.active > .bar-search > .input,
#button-comment-lock,
#button-comment-lock > svg,
button.on_off > *:nth-child(2), 
button.on_off.active > *:nth-child(1), 
input + button.on_off.enabled > *:nth-child(2), 
input:checked + button.on_off.enabled > *:nth-child(1),
.buttons.dropdown,
.buttons.dropdown > .dropdown,
.buttons.dropdown > .dropdown.active {
	transition: all 0s;
}

@media only screen and (min-width: 1200px) {
	
	section.post ~ section.paging#pagination {
		transition: none;
	}
	
}

@media not screen and (min-width: 1200px) {
	
	header > div > section#nav-menu-search > .bar-search {
		margin-right: 64px;
	}
}

@media only screen and (min-width: 736px) {

	section.post > section.comments div.comments > ul.comments li:first-child {
		padding-bottom: 12px;
	}
	
}

@media only screen and (max-width: 736px), only screen and (device-width: 375px) and (device-height: 812px) {
	
	header > div > section#nav-menu-search > .bar-search {
		margin-top: 18px;
		padding: 6px 4px 0 4px;
		margin-right: calc(24px + 16px);
	}
	
	header > div > section#nav-menu-search > .bar-search > .input > input {
		margin-top: -1px;
	}
	
	section.post > section.comments {
		margin: 0;
		padding: 24px;
	}
	
	section.post > section.comments div.comments .textfield {
		border-top: 1px solid black;
	}
	
	section.post > section.comments div.comments .textfield > .input > .buttons > #button-comment-send {
		margin: -8px -4px;
	}
	
	#button-comment {
		padding: 8px;
	}
	
	#button-comment svg.expand {
		top: 8px;
		right: 8px;
	}
	
	header h1 svg,
	header #button-menu svg,
	header #button-menu.active svg,
	header #button-search svg,
	header > div > section#nav-menu-search > .bar-search > .input svg,
	footer #button-expand svg,
	#button-comment svg,
	#button-prev svg,
	#button-next svg {
		background-size: 28px 28px;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.nav-dropdown-comment svg,
	.button-comment-more > svg,
	#button-comment-lock > svg:nth-child(1),
	#button-comment-lock > svg:nth-child(2) {
		background-size: 24px 24px;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media only screen and (max-width: 480px) {
	
	header > div > section#nav-menu-search > .bar-search {
		margin-top: 12px;
		margin-left: calc(24px + 12px);
		margin-right: calc(24px + 12px);
	}
	
}



section.post > article > section > article.content > section.dgm h3 {
	font-size: 32px;
	line-height: 1.2;
}

section.post > article > section > article.content > section.dgm h4 {
	font-weight: 400;
	margin-top: 4em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
}

section.post > article > section > article.content > section.dgm h5 {
	font-weight: 400;
}

section.post > article > section > article.content > section.dgm ul {
	list-style-type: square;
}

section.post > article > section > article.content > section.dgm section.thumbnail {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 3em;
	background-color: #00AAAA;
	box-shadow: 10px 10px 0 #000000;
}

section.post > article > section > article.content > section.dgm section.thumbnail .featured {
	margin-bottom: 6em;
	color: black;
}

section.post > article > section > article.content > section.dgm section.thumbnail .featured h3 {
	max-width: 100%;
	font-size: 48px;
	column-count: 2;
	column-gap: 48px;
	text-align: left;
}

section.post > article > section > article.content > section.dgm section.thumbnail .glyphs {
	font-size: 32px;
	text-align: left;
	line-height: 1.4;
	column-count: 2;
	column-gap: 48px;
}

section.post > article > section > article.content > section.dgm section.downloads li a:after {
	display: inline-block;
	content: '  ↓';
	text-decoration: underline;
}

section.post > article > section > article.content > section.dgm .sample p {
	padding: 1em;
	line-height: 1.4;
	color: black;
	background-color: white;
	box-shadow: 4px 4px 0 black;
	word-break: break-word;
}

section.post > article > section > article.content > section.dgm p span,
section.post > article > section > article.content > section.dgm p span a {
	color: #00AAAA;
}

section.post > article > section > article.content > section.dgm p span a {
	text-decoration: none;
}

section.post > article > section > article.content > section.dgm p.large {
	font-size: 32px;
}

section.post > article > section > article.content > section.dgm p.medium {
	font-size: 24px;
}

section.post > article > section > article.content > section.dgm p.case span {
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: 'case';
	-webkit-font-feature-settings: 'case';
	font-feature-settings: 'case';
}

section.post > article > section > article.content > section.dgm p.c2sc span {
	font-variant-caps: small-caps;
	-moz-font-feature-settings: 'c2sc';
	-webkit-font-feature-settings: 'c2sc';
	font-feature-settings: 'c2sc';
}

section.post > article > section > article.content > section.dgm p.salt span {
	-moz-font-feature-settings: 'salt';
	-webkit-font-feature-settings: 'salt';
	font-feature-settings: 'salt';
}

section.post > article > section > article.content > section.dgm .sample p.calt {
	line-height: 1.8;
}

section.post > article > section > article.content > section.dgm p.calt span {
	-moz-font-feature-settings: 'ss01';
	-webkit-font-feature-settings: 'ss01';
	font-feature-settings: 'ss01';
}

section.post > article > section > article.content > section.dgm p.calt span.colon {
	-moz-font-feature-settings: 'ss02';
	-webkit-font-feature-settings: 'ss02';
	font-feature-settings: 'ss02';
}

section.post > article > section > article.content > section.dgm p.ss01 {
	-moz-font-feature-settings: 'ss01';
	-webkit-font-feature-settings: 'ss01';
	font-feature-settings: 'ss01';
}

section.post > article > section > article.content > section.dgm p.ss05 {
	-moz-font-feature-settings: 'ss05';
	-webkit-font-feature-settings: 'ss05';
	font-feature-settings: 'ss05';
}

section.post > article > section > article.content > section.dgm p.ss06 {
	-moz-font-feature-settings: 'ss06';
	-webkit-font-feature-settings: 'ss06';
	font-feature-settings: 'ss06';
}

section.post > article > section > article.content > section.dgm p.ss07 {
	-moz-font-feature-settings: 'ss07';
	-webkit-font-feature-settings: 'ss07';
	font-feature-settings: 'ss07';
}

section.post > article > section > article.content > section.dgm p.ss08 {
	-moz-font-feature-settings: 'ss08';
	-webkit-font-feature-settings: 'ss08';
	font-feature-settings: 'ss08';
}

section.post > article > section > article.content > section.dgm p.ss09 {
	-moz-font-feature-settings: 'ss09';
	-webkit-font-feature-settings: 'ss09';
	font-feature-settings: 'ss09';
}

section.post > article > section > article.content > section.dgm p.ss10 {
	-moz-font-feature-settings: 'ss10';
	-webkit-font-feature-settings: 'ss10';
	font-feature-settings: 'ss10';
}

section.post > article > section > article.content > section.dgm p.ss11 {
	-moz-font-feature-settings: 'ss11';
	-webkit-font-feature-settings: 'ss11';
	font-feature-settings: 'ss11';
}

section.post > article > section > article.content > section.dgm .sample p.ko {
	line-height: 1.6;
}


section.post > article > section > article.content > section.dgm .textarea {
	position: relative;
	margin: 8em auto;
	padding: 2em;
	width: 100%;
	max-width: 32em;
	border: 2px solid white;
}

section.post > article > section > article.content > section.dgm .textarea h5 {
	margin-bottom: 2em;
	text-align: center;
}

section.post > article > section > article.content > section.dgm .textarea textarea {
	height: 16em;
}



section.post > article > section > article.content > section.dgm .korail {
	margin: 8em auto;
	font-size: 32px;
	line-height: 1.2;
	text-align: center;
	color: white;
}
section.post > article > section > article.content > section.dgm .korail > .fit {
	display: inline-block;
	padding: 0.25em 2em; 
	background-color: #111111;
	border: 28px solid black;
}
section.post > article > section > article.content > section.dgm .korail > .fit > span {
	color: #AAFF00;
	text-shadow:  0px 0px 18px rgba(0,255,0,0.25),
				0px 0px 1px #FFFF00,
				0px 0px 10px #00FF00;
}
section.post > article > section > article.content > section.dgm .korail > .fit > span > span.red {
	color: rgb(255,255,200);
	text-shadow:  0px 0px 18px rgba(255,0,0,1),
				0px 0px 4px #FF0000,
				0px 0px 16px #FF0000;
}


@media only screen and (max-width: 736px), only screen and (device-width: 375px) and (device-height: 812px) {
	
	section.post > article > section > article.content > section.dgm section.thumbnail {
		margin-bottom: 4em;
		padding: 2em;
	}
	
	section.post > article > section > article.content > section.dgm section.thumbnail .featured {
		margin-bottom: 2em;
	}
	
	section.post > article > section > article.content > section.dgm section.thumbnail .featured h3 {
		font-size: 32px;
		column-count: 1;
	}

	section.post > article > section > article.content > section.dgm section.thumbnail .glyphs {
		font-size: 16px;
		column-count: 1;
	}
	
	section.post > article > section > article.content > section.dgm .title-subtitle {
		margin-bottom: 4em;
		padding-bottom: 1em;
		border-bottom: 1px solid white;
	}
	
	section.post > article > section > article.content > section.dgm .title-subtitle .downloads {
		text-align: right;
	}
	
	section.post > article > section > article.content > section.dgm h3 {
		font-size: 24px;
		margin-bottom: 1em;
	}
	
	section.post > article > section > article.content > section.dgm .textarea textarea {
		height: 12em;
	}
	
	section.post > article > section > article.content > section.dgm .textarea,
	section.post > article > section > article.content > section.dgm .korail {
		margin: 4em auto;
	}
	
	section.post > article > section > article.content > section.dgm .korail {
		font-size: 24px;
	}
	
	section.post > article > section > article.content > section.dgm .korail > .fit {
		display: block;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		padding: 0.25em 1em;
	}
	
}

@media only screen and (-ms-high-contrast: active), only screen and (-ms-high-contrast: none) {
	
	section.post > article > section > article.content > section.dgm section.downloads {
		margin-top: 2em;
	}
	
}

@media only screen and (-ms-high-contrast: active) and (min-width: 736px), only screen and (-ms-high-contrast: none) and (min-width: 736px) {
	
	header > div > section#nav-menu-search > .bar-search {
		max-width: calc(840px + 32px + 24px - 32px - 16px);
		margin-right: calc(32px + 16px);
	}
	
	header > div > section#nav-menu-search > .bar-search > .input {
		border-bottom: 0;
	}
	
}