@charset "UTF-8";

@media ( min-width :576px) {
	/* 모달창 */
	.modal-dialog {
		max-width: 300px !important;
		background-color:#ff4d00;
	}
	
	.modal-content {
		border: 1px solid rgba(0, 0, 0, .2);
	}
	
	.modal-header {
		padding: 0.5rem;
		border-bottom: 1px solid #000084;
	    background-color: #000084;
	    color: #FFFFFF;
	    font-size: 1.5rem;
	}
	
	.modal-body {
		background-color: #000084;
		padding: 0.5rem;
	}
	
	.modal-footer {
		padding: 0.5rem;
		border-top: 1px solid #000084;
		background-color: #000084;
	}

	/* 모달컨텐츠 안 양식 */
	.modal-login>li {
	    width: 230px;
	    list-style: none;
	    margin: 1px;
	    color: #fff;
	    font-size: 1.3rem;
	    padding-left: 1.5rem;
	}
	
	.modal-login>li>input[type=text], [type=password] {
	    width: 230px;
	    padding: 0px 3px;
	    margin: 1px;
	    color: #000;
	    background: #bbbbbb;
	}
	
	.auto-login {
	    text-align: right;
	    color: #fff;
	    font-size: 1.1rem;
	    margin: 0.5rem; 
	    padding-right: 1rem;   
	}
	
	#pop_login_btn {
	    color: #fff;
	    font-size: 1rem;
	}
	
	#pop_login_btn>button {
	    color: #fff;
	    background-color: #ff4d00;
	    margin-bottom: 5px;
	    font-size: 1.1rem;
	}
	
	.find-id-pw, .find-id-pw>a {
	    color: #fff;
	    font-size: 1.3rem;
	    text-align: center;
	}
	
	.close {
		color: #b3d7ff;
    	text-shadow: 0 1px 0 #ff4d00;
    	font-size: 2rem;
    }
}
/* --------------------- */