@charset "UTF-8";

@font-face {
	font-family: 'DungGeunMo';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 부스러기 양식 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#vss {
	font-weight: font-weight: 500;
	background-color: #ff4d00;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	margin-right: 10px;
	font-size: 1.25rem !important;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : Header 
작성자 : GuRem
2019.08.24 - GuRem 초기 작성 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* 색깔 파레트  
 000084 -> 천리안 블루 
 FFFF44 -> 다운로드 옐로우
 ff4d00 -> 퍼스널 오렌지
 #6441a5 -> #f77754 #ff4d00
*/

/* 이미지로 바꾸면서 안쓰이는 코드 */
/* .VSlogo {
	font-family: 'Gugi', cursive;
	font-size: 4.0em;
	color: #ff4d00; 오렌지
		text-shadow: 2px 3px 3px #332e2e;
}
 */

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 헤더 - 맨위 - Top
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* 시작부분 위아래 간격 */
@media ( min-width :992px) {
	header {
		padding: 0.4em 0;
	}
}

header #top-menu {
	background-color: #BBBBBB;
	box-shadow: 2px 2px 0 black;
	margin-right: 0;
	margin-left: 0;
}

header #top-menu-right {
	padding-right: 5px;
}

header #btn-search, #btn-login , #btn-logout {
	cursor: pointer;
	color: #000084;
}

/* header #btn-login { */
/* 	cursor: pointer; */
/* 	color: #000084; */
/* } */

header .right-row {
	display: table-row;
	cursor: pointer;
}

header .right-col {
	display: table-cell;
	cursor: pointer;
	padding: 2px 5px;
}

header #btn-search:active,#btn-login:active, #btn-logout:active {
	background-color: #555555;
}

/* header #btn-login:active, #btn-logout:active { */
/* 	background-color: #555555; */
/* } */

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 검색창
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
header .frm-search {
	position: fixed;
	z-index: 20;
}

header #right-search-form>input[type=text] {
	/* 	position: relative; */
	border: 3px solid #ff4d00;
	background: #fff;
	font-size: 1.1em;
	padding: 0.3em 0.5em
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 주메뉴
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#header-bar {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#header-bar>.row {
	display: table;
	width: 100%;
	line-height: 1.4;
	background-color: #000084;
	box-shadow: 2px 2px 0px #000000;
	color: black;
	margin: 0 auto;
}

#header-bar .header-row {
	display: table-row;
	background-color: #BBBBBB;
}

#header-bar .header-col {
	display: table-cell;
	border: 1px solid #3f3b3bfa;
	box-shadow: 1px 1px 2px 0 black;
	cursor: pointer;
}

#header-bar .header-col:active {
	background-color: #555555;
}

/* 메뉴바 토글 추가메뉴 나중에 */
}
#header-bar a.dropdown-toggle {
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 0.3em 0
}

#header-bar
.dropdown {
	display: inline-block
}

#header-bar #header-menu-left {
	border-right: 1px solid #e2e2e2;
	padding-right: 0
}

#header-bar #header-menu-left
#favoriteDropdown {
	padding-left: 0.7em;
	padding-right: 0.7em
}

#header-bar #header-menu-left
#playgroundDropdown {
	padding-left: 0.7em;
	padding-right: 0.7em
}

#header-bar #header-menu-right {
	border-left: 1px solid #e2e2e2
}

#header-bar #header-menu-right
#userDropdown {
	padding-left: 0.7em;
	padding-right: 0
}

#header-bar #header-menu-right #userDropdown img.profile-img {
	width: 2em;
	height: 2em;
	margin-top: -0.5em;
	margin-bottom: -0.5em
}

#header-bar #header-menu-right #userDropdown #notification-badge {
	border-radius: 100px;
	padding: 3px 6px;
	background: #d80a0a
}

#header-bar #header-menu-right #note-notification-badge {
	border-radius: 100px;
	padding: 3px 6px;
	background: #d80a0a
}

/* ■■■□ header-bar 내용   □■■■ */
#header-bar #header-top-notice {
	padding: 0em 0;
	font-size: 2.0em;
	height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'DungGeunMo';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	color: white;
	/* 	font-family: 'Poor Story', cursive; */
	/* 	font-weight: bold; */
}

#header-bar #header-top-notice
a {
	color: #000;
	text-decoration: none
}

#header-bar #header-top-notice strong.notice-badge {
	background: #ff4d00;
	padding: 4px 8px;
	color: #fff;
	font-weight: bold
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : content-area > container 본문  
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#content-area>.container {
	position: relative
}

/* 전체 pc화면일때만 옆에 패딩 */
/* 일단 뺄게요 임시 메인 이미지말고는 딱히 패딩넣을이유가 안보임 */
@media ( min-width :1200px) {
	.container {
		max-width: 1140px
	}
	/* #main {
		padding-left: 30px;
		padding-right: 30px;
	} */
}

/* 부스러기 인기글  */
ul.vss-hot {
	list-style: none;
	/* 	background: #fff; */
	/* 	border-bottom: 2px solid #ebeae8; */
	/* 	border-right: 2px solid #ebeae8; */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #BBBBBB;
	box-shadow: 2px 2px 0 black, -2px -2px 0 white;
}

ul.vss-hot>li, ul.vss-hot>.row>li {
	display: block;
	padding: 0.2em 0.5em;
	margin-left: -30px;
	border-bottom: 1px solid #f3f3f3
}

ul.vss-hot>li:last-of-type, ul.vss-hot>.row li:last-of-type {
	border-bottom: none
}

/* 부스러기 본문 링크 */
ul.vss-hot>li a, ul.vss-hot>.row li
a {
	display: inline-block;
	max-width: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	color: #000084;
}

/* 부스러기  링크  */
ul.vss-hot>li a.board-name, ul.vss-hot>.row li a.board-name {
	font-weight: font-weight: 500;
	background-color: #ff4d00;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	margin-right: 10px;
	font-size: 1.25rem !important;
}

/* 나누기 선 디자인 */
ul.vss-hot>li>span {
	display: inline-block;
	max-width: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	color: #000084;
	margin-right: 10px
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 심플 간이 메뉴 링크 (vss-a-menu) 
작성자 : GuRem
2019.08.27 - GuRem 초기 작성  */
ul.vss-a-menu {
	/* 	background: #fff; */
	/* 	border-bottom: 2px solid #ebeae8; */
	/* 	border-right: 2px solid #ebeae8; */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #000084;
	color: white;
	box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00;
}

ul.vss-a-menu>li a, ul.vss-a-menu.row li a {
	background-color: #000084;
	color: white;
}

/* 팝 로그인 미영 */
#pop_login {
	position: fixed;
	padding: 10px 21px;
	z-index: 500;
	width: 317px;
}

#pop_login>li {
	list-style: none;
	margin: 1px;
}

#pop_login>li>input[type=text], #pop_login>li>input[type=password] {
	font-size: 18px;
	padding: 0px 3px;
	margin: 1px;
	color: black;
	background: #bbbbbb;
	/* width: 1%; */
	/* height: 1.5em; */
}

#pop_login>div>button {
	color: white;
	background-color: #ff4d00;
}

#pop_login>#pop_login_btn {
	margin: 5px;
}

#pop_login>div>button {
	color: white;
	background-color: #ff4d00;
	margin: 5px; /* 8.30 미영수정 */
}

.find-id-pw, .find-id-pw>a {
	color: white;
	font-size: 20px;
	text-align: center;
}

.auto-login {
	text-align: right;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : SignUp.jsp > 회원가입
작성자 : 미영
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media ( max-width :576px) {
	.id-check-text {
		display: none;
	}
	.id-check-text2 {
		display: inline;
	}
	#JoinForm>ul>li>div>div>button {
		float: right;
		margin: 0.25rem 0.2rem 0 0;
	}
}

@media ( min-width :576px) {
	.id-check-text {
		display: block;
	}
	.id-check-text2 {
		display: none;
	}
	#JoinForm>ul>li>div>div>button {
		float: none;
		margin: 0.25rem 0.2rem 0 0;
	}
	#id-check-btn {
		display: inline-grid;
	}
}

@media ( min-width :768px) {
	.vss-join>li {
		padding-left: 9rem;
	}
}

@media ( min-width :992px) {
	.vss-join>li {
		padding-left: 18rem;
	}
}

@media ( min-width :1024px) {
	.vss-join>li {
		padding-left: 20rem;
	}
}



#Join {
	margin-left: 0px;
	margin-right: 0px;
}

#joinDiv {
	padding: 1rem;
	background-color: #000084;
	color: white;
	box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00;
}

#joinDiv>div>form>h1 {
	color: white;
	font-size: 1.5rem;
}

.vss-join {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	margin-top: 0.5rem;
	/* padding-left: 2rem; */
	padding-left: 0;
	padding-bottom: 1rem;
}

.vss-join>li {
	font-size: 1.5rem;
	background-color: #000084;
	color: white;
	list-style: none;
	margin: 0.5rem;
}

#JoinForm>ul>li>div>div>button {
	color: white;
	background-color: #ff4d00;
	font-size: 1.2rem;
}

.vss-join>li>input[type=text], .vss-join>li>input[type=password],
	.vss-join>li>input {
	width: 13rem;
	height: 2rem;
	font-size: 1.5rem;
	padding: 0 3px;
	margin: 1px;
	color: black;
	background: #bbbbbb;
}

.vss-join>div>button {
	color: white;
	background-color: #ff4d00;
	font-size: 1.2rem;
}

.progress-bar_text, .progress-bar_re_text, .id-check-text,
	.id-check-text2 {
	color: #f9ff00;
	text-shadow: 1px 1px 1px #ff4d00;
}

.progress-bar_wrap {
	border: 1px solid blue;
	width: 15rem;
	height: 10px;
	background: #F6F6FA;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 5px;
}

.progress-bar_item, .progress-bar_re_item {
	display: inline-block;
	height: 100%;
	width: 32.5%;
	margin-right: .8%;
	border-radius: 5px;
	float: left;
	transition: background-color .2s, visisility .1s;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : board.jsp > 글 목록 보기 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#boardDiv {
	background-color: #000084;
	margin: 0 auto;
	box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00;
}

#boardDiv>#board-inner {
	width: 100%;
	border-top: 3px solid blue;
	border-bottom: 3px solid black;
	text-align: center;
	color: white;
	font-size: 1.25em;
	margin: 0.5em auto;
	padding: 0.5em;
	white-space: nowrap;
}

#boardDiv>#board-menu {
	border: 1px solid #ff4d00;
	color: white;
	padding: 0.5em;
	text-align: center;
}

#boardDiv>#board-write {
	text-align: center;
}

#boardDiv>#board-write>form>button {
	color: white;
	background-color: #ff4d00;
	text-shadow: 1px 1px 1px #000;
	font-size: 1.25em !important;
	padding: 0.1em;
	text-align: center;
}

#board-list {
	margin: 0.25rem auto;
}

#board-table {
	margin: 0.25rem auto;
	color: blue;
}

/* 게시글 head */
#board-list>table>thead {
	background-color: #BBBBBB;
	white-space: nowrap;
}

#board-list>table>tbody>tr {
	background-color: #BBBBBB !important;
}

#board-list>table>tbody>tr:hover {
	background-color: #555555 !important;
}

#board-page {
	color: white;
	text-align: center;
	margin: 0.25rem auto;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : Content.jsp > 글 보기 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#contentDiv {
	background-color: #000084;
	margin: 0 auto;
	color: white;
	font-size: 1rem;

	/* 	box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00; */
}

#contentDiv>#content-title {
	width: 100%;
	border-top: 3px solid blue;
	border-bottom: 3px solid black;
	text-align: center;
	/* 	color: white ; */
	font-size: 1.25em !important;
	margin: 0.25em auto;
	padding: 0.5rem;
}

#contentDiv>#content-info {
	width: 100%;
}

#contentDiv>#content-vs {
	display: inline-flex;
	width: 100%;
	height: 100%;
	padding: 0.2rem;
	border-bottom: 2px solid white;
}

#vs-vs {
	width: 100%;
	height: 100%;
	padding-top: 10%;
}


#vs-left img , #vs-right img, #vs-vs>img {
	width: 100% !important;
	height: 100% !important;
}

#content-info>ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#content-info>ul>li {
	float: left;
	width: 20%;
	text-align: center;
	font-size: 1.1rem;
	padding-bottom: 0.1rem;
	border-bottom: 2px solid white;
}

#content-vote {
	padding: 0.5rem;
	font-size: 1.25rem;
}

#content-vote>#vote-title>div>ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#vote-title>div>ul>li>button {
	width: 95%;
	background-color: #BBBBBB;
	box-shadow: 2px 2px 0 black;
}

#vote-title>div>ul>li {
	width: 50%;
}

#vote-title>div>ul>li:nth-child(2) {
	text-align: right;
}


/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : Dropdown 
작성자 : 기영
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.header-col{
   position:relative;
   display:inline-block;
}
.dropdown-content{
   border:1px solid black;
   display:none;
   position:absolute;
   background-color:#BBBBBB;
   width:100%;
   overflow:auto;
   z-index: 1;
}
.dropdown-content a{
   border:1px solid black;
   color:black;
   padding: 12px 16px;
   text-decoration:none;
   display:block;
}
.header-col a:hover{
   background-color:#555555;
   }
.show {display:block;
}

#header-col .dropdown-content a:active{
background-color:#555555;
}