@charset "UTF-8";

@font-face {
   font-family: 'DungGeunMo';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : Header 
작성자 : GuRem
2019.08.24 - GuRem 초기 작성 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* 색깔 파레트  
 000084 -> 천리안 블루 
 FFFF44 -> 다운로드 옐로우
 ff4d00 -> 퍼스널 오렌지
 #6441a5 -> #f77754 #ff4d00
*/

/* 이미지로 바꾸면서 안쓰이는 코드 */
/* .VSlogo {
   font-family: 'Gugi', cursive;
   font-size: 4.0em;
   color: #ff4d00; 오렌지
      text-shadow: 2px 3px 3px #332e2e;
}
 */

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 헤더 - 맨위 - Top
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* 시작부분 위아래 간격 */
@media ( min-width :992px) {
   header {
      padding: 0.4em 0;
   }
   #JoinForm>li {
   	  padding-left: 10rem;
   }
}

header #top-menu {
   background-color: #BBBBBB;
   box-shadow: 2px 2px 0 black;
   margin-right: 0;
   margin-left: 0;
}

header #top-menu-right {
   padding-right: 5px;
}

header #btn-search {
   cursor: pointer;
   color: #000084;
}

header #btn-login {
   cursor: pointer;
   color: #000084;
}

header .right-row {
   display: table-row;
   cursor: pointer;
}

header .right-col {
   display: table-cell;
   cursor: pointer;
   padding: 2px 5px;
}

header #btn-search:active {
   background-color: #555555;
}

header #btn-login:active {
   background-color: #555555;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 검색창
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
header .frm-search {
   position: fixed;
   z-index: 20;
}

header #right-search-form>input[type=text] {
   /*    position: relative; */
   border: 3px solid #ff4d00;
   background: #fff;
   font-size: 1.1em;
   padding: 0.3em 0.5em
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 주메뉴
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#header-bar {
   margin-top: 0.5em;
   margin-bottom: 1em;
}

#header-bar>.row {
   display: table;
   width: 100%;
   line-height: 1.4;
   background-color: #000084;
   box-shadow: 2px 2px 0px #000000;
   color: black;
   margin: 0 auto;
}

#header-bar .header-row {
   display: table-row;
   background-color: #BBBBBB;
}

#header-bar .header-col {
   display: table-cell;
   border: 1px solid #3f3b3bfa;
   box-shadow: 1px 1px 2px 0 black;
   cursor: pointer;
}

#header-bar .header-col:active {
   background-color: #555555;
}

/* 메뉴바 토글 추가메뉴 나중에 */
}
#header-bar a.dropdown-toggle {
   display: inline-block;
   color: #000;
   text-decoration: none;
   padding: 0.3em 0
}

#header-bar
.dropdown {
   display: inline-block
}

#header-bar #header-menu-left {
   border-right: 1px solid #e2e2e2;
   padding-right: 0
}

#header-bar #header-menu-left
#favoriteDropdown {
   padding-left: 0.7em;
   padding-right: 0.7em
}

#header-bar #header-menu-left
#playgroundDropdown {
   padding-left: 0.7em;
   padding-right: 0.7em
}

#header-bar #header-menu-right {
   border-left: 1px solid #e2e2e2
}

#header-bar #header-menu-right
#userDropdown {
   padding-left: 0.7em;
   padding-right: 0
}

#header-bar #header-menu-right #userDropdown img.profile-img {
   width: 2em;
   height: 2em;
   margin-top: -0.5em;
   margin-bottom: -0.5em
}

#header-bar #header-menu-right #userDropdown #notification-badge {
   border-radius: 100px;
   padding: 3px 6px;
   background: #d80a0a
}

#header-bar #header-menu-right #note-notification-badge {
   border-radius: 100px;
   padding: 3px 6px;
   background: #d80a0a
}

/* ■■■□ header-bar 내용   □■■■ */
#header-bar #header-top-notice {
   padding: 0em 0;
   font-size: 2.0em;
   height: 40px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   font-family: 'DungGeunMo';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
   color: white;
   /*    font-family: 'Poor Story', cursive; */
   /*    font-weight: bold; */
}

#header-bar #header-top-notice
a {
   color: #000;
   text-decoration: none
}

#header-bar #header-top-notice strong.notice-badge {
   background: #ff4d00;
   padding: 4px 8px;
   color: #fff;
   font-weight: bold
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : content-area > container 본문  
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#content-area>.container {
   position: relative
}

@media ( min-width :1200px) {
   .container {
      max-width: 1140px
   }
   #main {
      padding-left: 30px;
      padding-right: 30px;
   }
}

/* 부스러기 인기글  */
ul.vss-hot {
   list-style: none;
   /*    background: #fff; */
   /*    border-bottom: 2px solid #ebeae8; */
   /*    border-right: 2px solid #ebeae8; */
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   background-color: #BBBBBB;
   box-shadow: 2px 2px 0 black, -2px -2px 0 white;
}

ul.vss-hot>li, ul.vss-hot>.row>li {
   display: block;
   padding: 0.2em 0.5em;
   margin-left: -30px;
   border-bottom: 1px solid #f3f3f3
}

ul.vss-hot>li:last-of-type, ul.vss-hot>.row li:last-of-type {
   border-bottom: none
}

/* 부스러기 본문 링크 */
ul.vss-hot>li a, ul.vss-hot>.row li
a {
   display: inline-block;
   max-width: 250px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   vertical-align: middle;
   color: #000084;
}

/* 부스러기  링크  */
ul.vss-hot>li a.board-name, ul.vss-hot>.row li a.board-name {
   font-weight: font-weight: 500;
   background-color: #ff4d00;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   margin-right: 10px;
   font-size: 1.25rem !important;
}

/* 나누기 선 디자인 */
ul.vss-hot>li>span {
   display: inline-block;
   max-width: 250px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   vertical-align: middle;
   color: #000084;
   margin-right: 10px
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : 심플 간이 메뉴 링크 (vss-a-menu) 
작성자 : GuRem
2019.08.27 - GuRem 초기 작성  */
ul.vss-a-menu {
   /*    background: #fff; */
   /*    border-bottom: 2px solid #ebeae8; */
   /*    border-right: 2px solid #ebeae8; */
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   background-color: #000084;
   color: white;
   box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00;
}

ul.vss-a-menu>li a, ul.vss-a-menu.row li a {
   background-color: #000084;
   color: white;
}

/* 팝 로그인 미영 */
#pop_login {
   position: fixed;
   padding: 10px 21px;
   z-index: 500;
   width: 317px;
}

#pop_login>li {
   list-style: none;
   margin: 1px;
}

#pop_login>li>input[type=text], #pop_login>li>input[type=password] {
   font-size: 18px;
   padding: 0px 3px;
   margin: 1px;
   color: black;
   background: #bbbbbb;
   /* width: 1%; */
   /* height: 1.5em; */
}

#pop_login>div>button {
   color: white;
   background-color: #ff4d00;
}

#pop_login>#pop_login_btn {
   margin: 5px;
}

#pop_login>div>button {
   color: white;
   background-color: #ff4d00;
   margin: 5px; /* 8.30 미영수정 */
}

.find-id-pw, .find-id-pw>a {
   color: white;
   font-size: 20px;
   text-align: center;
}

.auto-login {
   text-align: right;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : SignUp.jsp 
작성자 : 미영
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#Join {
   margin-left: 0px;
   margin-right: 0px;
}

#joinDiv {
   padding: 1rem;
   background-color: #000084;
   color: white;
   box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00;
}

#joinDiv>h1 {
   color: white;
   font-size: 1.75rem;
}

#JoinForm {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    margin-top: 0.5rem;
    padding-left: 0;
}

#JoinForm>li {
    font-size: 1.5rem;
    background-color: #000084;
    color: white;
    list-style: none;
    margin: 0.5rem;
}

#JoinForm>li>div>button {
   color: white;
   background-color: #ff4d00;
   font-size: 1.2rem;
}

.check-div {
	text-align: center;
    display: inline-block;
}

#JoinForm>li>input[type=text] {
   width: 20rem;
   font-size: 1.5rem;
   padding: 0px 3px;
   margin: 1px;
   color: black;
   background: #bbbbbb;
}

#JoinForm>div>button {
   color: white;
   background-color: #ff4d00;
   font-size: 1.5rem;
}

.progress-bar_text, .progress-bar_re_text, .id-check-text {
    display: inline-block;
    font-size: 1.5rem;
    color: #f9ff00;
    text-shadow: 1px 1px 1px #ff4d00;
}

.progress-bar_wrap {
   border: 1px solid blue;
   margin-left: 1%;
   width: 20rem;
   height: 10px;
   background: #F6F6FA;
   display: inline-block;
   vertical-align: middle;
   overflow: hidden;
   border-radius: 5px;
}

.progress-bar_item, .progress-bar_re_item {
   display: inline-block;
   height: 100%;
   width: 32.5%;
   margin-right: .8%;
   border-radius: 5px;
   float: left;
   transition: background-color .2s, visisility .1s;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
내 용 : board.jsp > 글 목록 보기 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#boardDiv {
   background-color: #000084;
   margin: 0 auto;
   box-shadow: 2px 2px 0 #ff4d00, -2px -2px 0 #ff4d00;
}

#boardDiv>#board-inner {
   display: table;
   width: 100%;
   border-top: 3px solid blue;
   border-bottom: 3px solid black;
   text-align: center;
   color: white;
   font-size: 1.5em;
   margin: 0.5em auto;
   padding: 0.5em;
}

#boardDiv>#board-menu {
   border: 1px solid #ff4d00;
   color: white;
   padding: 0.5em;
   text-align: center;
}

#boardDiv>#board-write {
   text-align: center;
}

#boardDiv>#board-write>button {
   color: white;
   background-color: #ff4d00;
   text-shadow: 1px 1px 1px #000;
   font-size: 1.5em !important;
   padding: 0.1em;
   text-align: center;
}

#board-list {
   margin: 0.25rem auto;
}

#board-table {
   margin: 0.25rem auto;
   color: blue;
}

/* 게시글 head */
#board-list>table>thead {
   background-color: #BBBBBB;
   white-space: nowrap;
}

#board-list>table>tbody>tr {
   background-color: #BBBBBB !important;
}

#board-list>table>tbody>tr:hover {
   background-color: #555555 !important;
}

#board-page {
   color: white;
   text-align: center;
   margin: 0.25rem auto;
}



@media ( min-width 576px) {
/* 	.id-check-text { */
/* 	   margin-left:7rem; */
/* 	} */
}
@media ( min-width :768px) {
	#JoinForm>li {
		padding-left: 5rem;
	}
/* 	.check-div { */
/* 	    text-align: left; */
/* 	    display: inline; */
/* 	} */
    .id-check-text {
    	padding-left:7rem !important;
    }
}
}

@media ( min-width :992px) {
	#JoinForm>li {
		padding-left: 7rem !important;
	}
	.id-check-text {
    	padding-left: 9rem !important;
	}
}

@media ( min-width :1200px) {
	#JoinForm>li {
		padding-left: 10rem !important;
	}
}
