<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org // DTD mapper 3.0 // en" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vs.my.BoardDAOVO.board-mapper">
	<select id="UserAllData" resultType="user">
		SELECT b_seq,u_seq,c_seq,re_seq,b_title,b_content,b_cnt,b_date,b_tag
		FROM Board
	</select>
</mapper>
